body{
	margin:0;
	padding:0;
}
/* .container{
	width:90%
	margin:10px auto;
} */
.portfolio-menu{
	text-align:center;
}
.portfolio-menu ul li{
	display:inline-block;
	margin:0;
	list-style:none;
	padding:10px 15px;
	cursor:pointer;
	-webkit-transition:all 05s ease;
	-moz-transition:all 05s ease;
	-ms-transition:all 05s ease;
	-o-transition:all 05s ease;
	transition:all .5s ease;
}

.portfolio-item{
	/*width:100%;*/
}
.portfolio-item .item{
    /* width: 303px; */
    float: left;
    margin-bottom: 10px;
    /* border: 10px solid; */
    margin-right: 10px;
    /* border-block-color: initial; */
    /* border-color: black; */
    box-shadow: 10px 10px 30px 0px;
    border-bottom: 20px solid;
    border-bottom-color: white;
	border-top: 10px solid;
	border-top-color: white;
}

